.back-header {
    height: 20%;
}
.back-header img {
    position: relative;
    height: 120%;
    width: auto;
    left: 7.5%;
    top: 18%;
    border: solid .7em #2b98d4;
}
.header-text {
    float: right;
    margin: 2.8em;
    font-size: 1.3em;
    color: white;
}
.back-content {
    height: 80%;
    width: 100%;
    background-color: white;
    padding: 1.5em 3em;
    box-sizing: border-box;
}
.cards-container {
    width: 100%;
}
.left-cards-container {
    float: left;
    width: 53%;
}
.right-cards-container {
    float: right;
    width: 45.5%;
}
.card {
    background: #f1f0f0;
    border-bottom: solid .3em #DADADA;
    padding: .6em 1em;
    margin-bottom: 3%;
}
.card > .icon {
    float: right;
    background: #2b98d4;
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
}
.icon {
    color: white;
    text-align: center;
}
.icon i {
    font-size: 2em;
    line-height: 1.8em;
}
